<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title><%=roomId%> - Chat Room</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
  <link rel="icon" type="image/png" href="/favicon.png"/>
  <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
  <link rel="stylesheet" href = "/main.css"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/light.min.css"/>
</head>
<body>
    <div class="container">
      <div class="status-box"><span id="push">Enable Push Messaging</span> / Status: <span id="status">-</span> / <span id="online"><%=users.length%></span> online
        <div id="userList"></div>
      </div>
      <div id="msgList"></div>
      <div class="send-box">
        <input type="text" name="name" id="name" placeholder="nickname" maxlength="32">
        <div class="input-wrap">
          <!--<input type="text" name="msg" id="msg" placeholder="some text..." maxlength="1000">-->
          <textarea type="text" name="msg" id="msg" placeholder="Markdowm is supported, give it a try!" maxlength="1000"></textarea>
        </div>
        <div class="color">
          <input id="namecolor" type="color" name="namecolor" value="#117743">
          <input id="msgcolor" type="color" name="msgcolor" value="#3d3d3d">
        </div>
        <input type="button" name="send" id="send" value="Send">
      </div>
      <span class="toast"></span>
    </div>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/notify.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/xss@1.0.8/dist/xss.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/linkifyjs@2.1.9/dist/linkify.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/linkifyjs@2.1.9/dist/linkify-jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/trianglify@4.0.0/dist/trianglify.bundle.js"></script>
  <script>
    $(function () {
      var userInfo = null;
      var roomInfo = {
        roomId: '<%=roomId%>',
        title: '<%=title%>'
      }
      
      var date = new Date();
      date.setTime(date.getTime()+(7*24*60*60*1000));
      document.cookie = 'roomId='+encodeURIComponent(roomInfo.roomId)+'; path=/; expires='+date.toGMTString();
      var userName = '';

      var REGEXP_MENTION = ''
      var notify = new Notify()

      function init() {
        var socket = io(
            window.location.host,
            {
              query: {
                roomId: roomInfo.roomId
              }
            }
          );

        socket.on('connect', function () {
          $('#status').text('connected.')
          appendMsg({
            type: 'sys',
            msg: 'Welcome to <%= title ? `${title} #${roomId}#` : roomId %>!'
          })
          if (Notification.permission != "granted") {
            appendMsg({
              type: 'sys',
              msg: 'If you want to subscribe notification, please click on colored "Enable Push Messaging" at the up right corner.'
            })
          }
          $('#msgList').scrollTop($('#msgList')[0].scrollHeight)
          notify.init()
        });

        socket.on('online', function (userList) {
          console.log('online', userList)
          updateTitle({
            uid: userInfo.uid,
            name: userInfo.name,
            online: userList.length
          })
          $('#online').text(userList.length);
          var list = ''
          $.each(userList, function(idx, obj){
            list += '<span class="nickname'+(userInfo.uid === obj.uid ? ' cur' : '')+'" data-uid="'+extractContent(obj.uid)+'" data-name="'+escapeQuote(extractContent(obj.name))+'">'+extractContent(obj.name)+'('+extractContent(obj.uid)+')</span>, '
          })
          list = list.slice(0, -2)
          $('#userList').html(list);
        });

        socket.on('init', function (user) {
          if(userInfo) return
          userInfo = user
          REGEXP_MENTION = new RegExp('@.*\((' + escapeRegex(userInfo.uid) + ')\)')
          var date = new Date();
          date.setTime(date.getTime()+(7*24*60*60*1000));
          document.cookie = 'uid='+encodeURIComponent(userInfo.uid)+'; path=/; expires='+date.toGMTString();
          $('#name').val(user.name || user.uid);
          console.log('init', user)
        });

        socket.on('msg', function (msgItem) {
          var date = new Date(msgItem.ts * 1000);
          var dateStr = date.toLocaleDateString("en-US") + ' ' + date.toLocaleTimeString("en-US");
          var highlight = false;

          if(msgItem.uid !== userInfo.uid){
            var mentionMe = msgItem.msg.match(REGEXP_MENTION)
            if(mentionMe){
              highlight = true;
              notify.push({
                roomId: roomInfo.roomId,
                from: msgItem.name,
                to: userInfo.name,
                msg: msgItem.msg
              })
            }
          }

          appendMsg({
            type: 'msg',
            name: msgItem.name,
            uid: msgItem.uid,
            time: dateStr,
            msg: msgItem.msg,
            namecolor: msgItem.namecolor,
            msgcolor: msgItem.msgcolor,
            highlight: highlight
          })
        });

        socket.on('sys', function (sysMsg) {
          appendMsg({
            type: 'sys',
            msg: sysMsg
          })
        });

        socket.on('rename', function (info) {
          if(userInfo.uid === info.uid){
            userInfo.name = info.name
            $('#name').val(info.name)
          }
        });

        $('#name').blur(function (){
          var name = $(this).val().trim()
          if(!name || name === userInfo.name) return

          var date = new Date();
          date.setTime(date.getTime()+(7*24*60*60*1000));
          document.cookie = 'name='+encodeURIComponent(name)+'; path=/; expires='+date.toGMTString();
          userInfo.name = name;

          socket.emit('change-name', name);
        })

        $('#send').click(function () {
          var name = $('#name').val(),
              msg = $('#msg').val().trim(),
              namecolor = $('#namecolor').val(),
              msgcolor = $('#msgcolor').val();

          if(!name || !msg) return

          $('#msg').val('').attr('style', '');

          socket.send({
            uid: userInfo.uid,
            name: name,
            msg: msg,
            namecolor: namecolor,
            msgcolor: msgcolor
          });
        })

        $('#msg').on('keypress', function (e) {
          if ((event.keyCode == 10 || event.keyCode == 13) && event.ctrlKey) {
            e.preventDefault();
            $('#send').click()
          }
        });
        
        $("#msg").on('change keyup paste', function(e) {
          if(!$(this).val()){
            $(this).attr('style', '');
            return
          }
          var element = e.target;

          $(this).css('overflow', 'hidden');
          $(this).height(0);
          
          var height = element.scrollHeight<=40 ? element.scrollHeight - 19 : element.scrollHeight;

          if(height >= 120) $(this).css('overflow', '');

          $(this).height(height);
        });

        $(document).on('click', '#userList .nickname, #msgList .nickname', function(){
          var uid = $(this).attr('data-uid'),
              name = $(this).attr('data-name');

          $('#msg').val(function() {
              return this.value+'@'+name+'('+uid+') '
          });
          $('#msg').focus();
          console.log(uid, name)
        })
      }
      $('.send-box').on('click', function(){
        $('#msgList').animate({ scrollTop: $('#msgList')[0].scrollHeight }, 300)
      });
      $('#status').text('get record...')
      $.getJSON(location.pathname + '/record', { limit: 100 }, function(data) {
        $('#status').text('connecting...')
        data = data.reverse()
        $.each(data, function(idx, msgItem){
          var date = new Date(msgItem.time * 1000);
          var dateStr = date.toLocaleDateString("en-US") + ' ' + date.toLocaleTimeString("en-US");

          appendMsg({
            type: 'msg',
            name: msgItem.name,
            uid: msgItem.uid,
            time: dateStr,
            msg: msgItem.msg,
            namecolor: msgItem.namecolor,
            msgcolor: msgItem.msgcolor
          })

        })

        init()
      });

      function appendMsg(msgItem){
        var message = '', scrollFlag = false;
        switch(msgItem.type){
          case 'sys':
            message = '<div class="sys-msg"><span class="msg">'+extractContent(msgItem.msg)+'</span></div>'
            break;
          
          case 'msg':
            if('<%=roomId%>' === 'journey-ad.github') msgItem.msg = msgItem.msg.replace(/\u53d8\u6001/g, '\u597d\u4eba')
            message = '' +
              '<div class="message'+ (msgItem.highlight ? ' highlight' : '') + '">' +
                '<span class="nickname" data-uid="'+escapeQuote(extractContent(msgItem.uid))+'" data-name="'+escapeQuote(extractContent(msgItem.name))+'">\
                <span class="name" style="color: '+escapeQuote(extractContent(msgItem.namecolor))+'">'+extractContent(msgItem.name)+'</span>::<span class="uid">'+extractContent(msgItem.uid)+'</span>::<span class="time">'+extractContent(msgItem.time)+'</span>:</span>\
                <div class="msg" style="color: '+escapeQuote(extractContent(msgItem.msgcolor))+'">' + marked(extractContent(msgItem.msg).replace(/&gt;+/g, '>')) + '</div>\
              </div>';
            break;
        }

        if($('#msgList').scrollTop() + $('#msgList').height() >= $('#msgList')[0].scrollHeight - 2) scrollFlag = true;

        $('#msgList').append(message);
        $('#msgList .message .msg:last').linkify({
          className: 'link',
          attributes: {
            rel: 'nofollow'
          },
          target: '_blank'
        });
        if(scrollFlag) $('#msgList').scrollTop($('#msgList')[0].scrollHeight);
      }

      function updateTitle(info){
        document.title = info.online + '::' + info.name + '::' + info.uid + '::' + '<%=roomId%>::<%=title%> - Chat Room'
      }

      function extractContent(s) {
        return filterXSS(s, {
          whiteList: []
        });
      };

      var REGEXP_QUOTE = /"/g;
      function escapeQuote(str) {
        return str.replace(REGEXP_QUOTE, "&quot;");
      }

      function escapeRegex(string) {
        return string.replace(/[-\/\\^$*+?.()|[\]{}]/g, '\\$&');
      }
    });
  </script>
  <script>
    var isMobile = navigator.userAgent.match(/(iPad)|(iPhone)|(iPod)|(android)|(webOS)/i)
    if(!isMobile && !inIframe()){
      $('body').addClass('self')
      var pattern = trianglify({
        width: window.innerWidth,
        height: window.innerHeight
      })
      var canvas = pattern.toCanvas()
      canvas.id = 'lowpoly'
      document.body.appendChild(canvas)
    }

    function inIframe() {
      try {
          return window.self !== window.top;
      } catch (e) {
          return true;
      }
    }
  </script> 
</body>
</html>
